.content-col {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-2 {
    width: 46%;
    align-items: center;
    .padding-iot {
        padding: 3%;
    }
}

.column-2-no-gap {
  width: 50%;
  padding: 0;
  img {
    width: 80%;
  }
}

.column-3 {
    width: 32%;
    text-align: center;
    align-items: center;
    padding-bottom: 64px;

    img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .picto {
        width: 40%;
    }
}

.column-4 {
    width: 24%;
    align-items: center;
    padding-bottom: 64px;

    img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


.column-6 {
    width: 16%;
    text-align: center;

    img {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        margin: 16px 0;
        padding: 3% 0;
        font-size: 16px;
    }
}
/****************NOTRE SAVOIR FAIRE COLUMN****************/

.no-gap {
    width: 33.3% ;
}

/******************CONTACT COLUMN******************/

.content-col-contact {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.column-3.left {
    text-align: left;
    width: 33,3%;
    padding: 0 64px;
}

.column-3x2 {
    width: 66.6%;
    text-align: left;
    align-items: center;
    padding: 0 0 64px;

}

/***************SECTEURS COLUMN***************/

.column-6.onhover {
    &:hover {
        transition: background-color 0.2s;
        background-color: rgb(255, 255, 255, 0.4);
    }

    img {
        width: 60%;
    }
}

.column-3.onhover {
    &:hover {
        transition: background-color 0.2s;
        background-color: rgb(255, 255, 255, 0.4);
    }

    img {
        width: 60%;
    }
}

.column-2.onhover {
  &:hover {
      transition: background-color 0.2s;
      background-color: rgb(255, 255, 255, 0.4);
  }
  p {
    padding-top: 16px;
  }
}
