header {
    width: 100%;
    position: fixed;
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    background-color: var(--culturedColor);
}

.onscroll {
    background-color: white;
}

header img {
    width: 120%;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.margin-header {
    margin-left: 30%;
}

header nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;

}

header nav ul a {
    padding-bottom: 50%;
    font-size: 17px;
}

.sous {
    position: absolute;
    width: auto;
    padding-right: 8px;
    display: none;
    background-color:white;
    box-shadow: 0px 0px 2px rgb(240, 240, 240);
    margin-top: 3vh;
}


nav > ul li:hover .sous {
    display: block;
}

.sous li {
    width: 100%;
    text-align: left;
    padding: 16px;
    
}

.sous a {
    padding: 10px;
    border-bottom: none;
    margin: 0;
    &:hover {
        transition: opacity 0.2;
        opacity: 0.8;
    }
}

.contact-button {
    background-color: var(--denimColor);
    color: white;
    padding: 12px 20px;
    border-radius: 15px;
}


@media only screen and (max-width : 1000px) {
    .logo {
        height: 6vh;
        text-align: center;
    }
    .logo img {
        width: 25%;
        margin-bottom: 16px;
    }
    header nav {
        display: block;
    }

    .margin-header {
        margin-left: 0%;
    }
    header nav ul a {
        font-size: 18px;
    }
}

@media only screen and (max-width : 600px) {
    .logo img {
        width: 40%;
    }
    .contact-button {
        background-color: var(--denimColor);
        color: white;
        padding: 8px 16px;
        border-radius: 15px;
    }
    header nav ul a {
        font-size: 13px;
    }
}