body {
    background-color: var(--culturedColor);

}

.section-one {
    padding-top: var(--headerHeight);
}

.margin {
    margin: calc(var(--margin)*0.3) var(--margin);
}

.margin-lr {
    margin: 0 var(--margin);
}

.margin-left {
    margin-left: 64px;
}

.margin-top {
    margin-top: 32px;
}

.padding-lr {
    padding: 0 32px;
}

.margin-bottom {
    margin-bottom: 16px;
}

.padding-bottom {
    padding-bottom: calc(var(--margin)/4);
}

.lavender-bg {
    background-color: var(--lavenderColor);
}

.denim-bg {
    background-color: var(--denimColor);
}

.white-bg {
    background-color: white;
}

.cultured-bg {
    background-color: var(--culturedColor);
}
.denim-border {
    border: 3px solid var(--denimColor);
}

.cultured-border {
    border: 3px solid var(--culturedColor);
}

.padding-contact {
    padding: 32px 64px;
}

.padding-top {
    padding-top: 32px;
}

.selected {
    background-color: rgb(255, 255, 255, 0.4);
}

.solutions-img {
    margin: 0 0 64px 0;
}

.center {
    width: 100%;
    text-align: center;
    align-items: center;
}

.padding-tb {
    padding: 64px 0;
}

.footer {
    background-color: var(--denimColor);
    width: 100%;
    img {
        max-height: 8vh;
        width: auto;
        padding: 2vh 0;
        margin-right: 64px;
    }
}

.align-left {
    text-align: left;
}

.content-padding {
    padding :32px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.number {
    color: var(--denimColor);
    font-size: 30px;
}


.landing-img {
padding: 32px 0;
}

.vertical-middle {
    align-items: center;
    justify-content: center;
}

.buy-button {
    padding: 12px 20px;
    background-color: var(--denimColor);
    color: var(--culturedColor);
}

.test-weight {
    font-size: 60px;
}

.partenaire img {
    width: 80%;
}

.conception img {
    width: 80%;
}

.underline {
    text-decoration: underline;
}

.language-content {
    position: fixed;
    right: 0;
    bottom: 80px;
    background-color: var(--denimColor);
    text-align: center;
}

.language-content ul li {
    list-style-type: none;
    margin: 0;
    padding: 8px 16px;
    border: solid 1px var(--culturedColor);
}

.language-link {
    color: var(--culturedColor);
}

.d7a {
    text-align: center;
    img {
        width: 300px;
    }
}