body {
    background-color: var(--culturedColor);
    
}

.margin {
    margin: 0 var(--margin);

}

.section-one {
    padding-top: var(--headerHeight);
    width: 100%;
    text-align: center;
}

.lavender-bg {
    background-color: var(--lavenderColor);

}

.denim-bg {
    background-color: var(--denimColor);
}
.anim {
    height: 100vh;
}

.content-col {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-2 {
    width: calc((var(--sectionWidth) - 120px)/2);
    align-items: center;
    padding-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
     img {
         width: 100%;
     }

}

.column-3 {
    width: calc((var(--sectionWidth) - 120px)/3);
    text-align: center;
    align-items: center;
     img {
         width: 60%;
         display: block;
         margin-left: auto;
         margin-right: auto;
     }
    .picto {
        width: 30%;
    }
    h4 {
        padding: 48px 0;
    }
}

.column-3.left {
    text-align: left;
    
}

.column-3x2 {
    width: calc(((var(--sectionWidth) - 120px )/3)*2);
    text-align: left;
    align-items: center;
    padding: 32px;
}

.column-3.onhover {
    &:hover {
        transition: background-color 0.2s;
        background-color: white;
    }
}

.column-4 {
    width: calc((var(--sectionWidth) - 120px)/4);
    align-items: center;
    padding-bottom: 64px ;
     img {
         width: 100%;
         display: block;
         margin-left: auto;
         margin-right: auto;
     }
}


.column-6 {
    width: calc((var(--sectionWidth) - 120px)/6);
    text-align: center;
    img {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h4 {
        padding: 16px 0;
        font-size: 16px;
    }
    &:hover {
        transition: background-color 0.2s;
        background-color: white;
    }
    
}

.selected {
    background-color: white;
}

.solutions-img {
    margin: 64px 0;
}

.ensavoirplus-button {
    background-color: var(--denimColor);
    color: white;
    padding: 12px 20px;
    border-radius: 15px;
}

.savoirplus-content {
    margin-top: 50px;
}