body {
    background-color: var(--culturedColor);

}

.margin {
    margin: calc(var(--margin)*0.6) var(--margin);

}

.margin-prefooter {
    margin: calc(var(--margin)*0.6) var(--margin) 0;
    
}

.margin-footer {
    margin: 0 var(--margin);
}



.section-one {
    padding-top: var(--headerHeight);
    text-align: center;

}

.lavender-bg {
    background-color: var(--lavenderColor);

}

.denim-bg {
    background-color: var(--denimColor);
}

.anim {
    height: calc(100vh - var(--headerHeight));

    img {
        width: 40%;
    }

    background-color: var(--lavenderColor);
}

.content-col {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-col-contact {
    width: 100%;
    display: flex;
}

.padding-contact {
    padding: 0 64px;
}

.column-2 {
    width: calc((var(--sectionWidth) - var(--gap))/2);
    align-items: center;
    display: flex;
    flex-wrap: wrap;


}

.column-3 {
    width: calc((var(--sectionWidth) - var(--gap))/3);
    text-align: center;
    align-items: center;
    padding-bottom: 64px;

    img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .picto {
        width: 30%;
    }
}



.column-3.left {
    text-align: left;
    width: calc((var(--sectionWidth))/3);
    padding: 0 64px;

}


.column-3x2 {
    width: calc(((var(--sectionWidth))/3)*2);
    text-align: left;
    align-items: center;
    padding: 0 0 64px;

}

.column-3.onhover {
    &:hover {
        transition: background-color 0.2s;
        background-color: white;
    }

    img {
        width: 60%;
    }
}

.column-4 {
    width: calc((var(--sectionWidth) - var(--gap))/4);
    align-items: center;
    padding-bottom: 64px;

    img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


.column-6 {
    width: calc((var(--sectionWidth) - var(--gap))/6);
    text-align: center;

    img {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        margin: 16px 0;
        padding: 3% 0;
        font-size: 16px;
    }

    &:hover {
        transition: background-color 0.2s;
        background-color: white;
    }

}


.selected {
    background-color: white;
}

.solutions-img {
    margin: 64px 0;
}



.button-content {
    margin-top: 50px;
}

.center {
    width: 100%;
    text-align: center;
    align-items: center;
}

.padding-tb {
    padding: 64px 0;
}

.footer {
    background-color: var(--denimColor);
    max-height: var(--headerHeight);
    width: 100%;
    img {
        max-height: 8vh;
        width: auto;
        padding: 2vh 0;
    }
}



.last-section {
    margin-top: 0;
}
@media only screen and (max-width : 900px) {

    .column-3.six {
        width: calc((var(--sectionWidth) - var(--gap))/2);
    }

    .column-6 {
        width: calc((var(--sectionWidth) - var(--gap))/3);
    }

    .column-4 {
        width: calc((var(--sectionWidth) - var(--gap))/2);
    }

    .column-2 {
        width: 100%;
    }
    
}

@media only screen and (max-width : 500px) {
    .column-3 {
        width: 100%;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    p {
        font-size: 13px;
    }

    li {
        font-size: 13px;
    }

    a {
        font-size: 13px;
    }

    button {
        font-size: 13px;
    }
}