@media only screen and (max-width : 1500px) {
    :root {
        --margin : 120px;
        --gap : 120px;
      }
   
}



@media only screen and (max-width : 1200px) {
    :root {
        --margin : 80px;
        --gap : 80px;
      }
   
}

@media only screen and (max-width : 900px) {
    :root {
        --margin : 40px;
        --gap : 40px;
      }
}

@media only screen and (max-width : 500px) {
  :root {
      --margin : 8px;
    }
    h3 {
      text-align: center;
    }
}