* {
  margin: 0;
  padding: 0;
}

/********************
VARIABLES
*********************/

:root {
  --margin : 240px;
  --sectionWidth : calc(100vw - var(--margin)*2);

  --headerHeight : 12vh;
  --sectionHeight : calc(100vh - var(--HeaderHeight));
  /**********PRIMARYCOLOR**********/
  --denimColor: #0060B8;
  --lavenderColor: #E2E9FF;
  --culturedColor: #F3F3F3;
  --onyxColor: #3E3E3E;
  
}

/**********SECONDARYCOLOR**********/
.red {
  color: #ED5555;
}
.orange {
  color: #FF971C;
}
.yellow {
  color: #FFD338;
}
.green {
  color: #00B533;
}
.blue {
  color: #68A7FF;
}


/********************
TYPOGRAPHY
*********************/

h1 {
  font-family: 'Lexend';
  font-weight: 700;
  color: var(--onyxColor);
  font-size: 38px;
}

h2 {
  font-family: 'Lexend';
  font-weight: 700;
  color: var(--denimColor);
  font-size: 30px;
  padding: 48px 0 24px 0;
  margin-top: 16px;
}

h3 {
  font-family: 'Lexend';
  font-weight: 500;
  color: var(--onyxColor);
  font-size: 20px;
}

h4 {
  font-family: 'Lexend';
  font-weight: 700;
  color: var(--onyxColor);
  font-size: 18px;
  margin: 48px 0 24px;
}

p {
  font-family: 'Lexend';
  font-weight: 300;
  color: var(--onyxColor);
  font-size: 16px;
  margin-bottom: 8px;
}

li {
  font-family: 'Lexend';
  font-weight: 300;
  color: var(--onyxColor);
  font-size: 16px;
  margin-bottom: 8px;
  margin-left: 16px;
}


a {
  font-family: 'Lexend';
  text-decoration: none;
  color: var(--onyxColor);
  font-size: 16px;
  transition: opacity 0.2s;
  &:hover{
      opacity: 0.5;
  }
}

span {
  font-weight: 700;
}

img {
  width: 100%;
}