@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

/********************
VARIABLES
*********************/

:root {
  --margin : 240px;
  --sectionWidth : calc(100vw - var(--margin)*2);
  --gap : 120px;

  --headerHeight : 12vh;
  --sectionHeight : calc(100vh - var(--HeaderHeight));
  /**********PRIMARYCOLOR**********/
  --denimColor: #0060B8;
  --lavenderColor: #E2E9FF;
  --culturedColor: #F3F3F3;
  --onyxColor: #3E3E3E;
  
}

/**********SECONDARYCOLOR**********/
.red {
  color: #ED5555;
}
.orange {
  color: #FF971C;
}
.yellow {
  color: #FFD338;
}
.green {
  color: #00B533;
}
.blue {
  color: #68A7FF;
}

.cultured {
  color: var(--culturedColor);
}

.denim {
  color: var(--denimColor);
}

/********************
TYPOGRAPHY
*********************/

h1 {
  font-family: 'Lexend';
  font-weight: 700;
  color: var(--onyxColor);
  font-size: 45px;
  padding: calc(var(--margin)/4) 0 ;
  text-align: center;
}

h2 {
  font-family: 'Lexend';
  font-weight: 700;
  color: var(--onyxColor);
  font-size: 45px;
  padding: calc(var(--margin)/4) 0;
  text-align: center;
}

h3 {
  font-family: 'Lexend';
  font-weight: 700;
  color: var(--denimColor);
  font-size: 35px;
  padding: 64px 0;
}

h4 {
  font-family: 'Lexend';
  font-weight: 500;
  color: var(--onyxColor);
  font-size: 25px;
  padding: 16px 0;
}

h5 {
  font-family: 'Lexend';
  font-weight: 500;
  color: var(--onyxColor);
  font-size: 22px;
  margin: 48px 0 24px;
}

p {
  font-family: 'Lexend';
  font-weight: 300;
  color: var(--onyxColor);
  font-size: 20px;
  margin-bottom: 8px;
  text-align: justify;
}

li {
  font-family: 'Lexend';
  font-weight: 300;
  color: var(--onyxColor);
  font-size: 20px;
  margin-bottom: 8px;
  margin-left: 16px;
}


a {
  font-family: 'Lexend';
  font-weight: 500;
  text-decoration: none;
  color: var(--onyxColor);
  font-size: 20px;
  transition: opacity 0.2s;
  &:hover{
      opacity: 0.8;
  }
}

span {
  font-weight: 700;
}

img {
  width: 100%;
}

button {
  font-family: 'Lexend';
  font-size: 20px;
  background-color: var(--denimColor);
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  &:hover {
    transition: color 0.2s;
    color: rgba(200, 200, 200, 0.5);
}
}

input {
  font-family: 'Lexend';
  font-size: 20px;
  border: 0;
  padding: 8px;
  border-bottom: 2px solid #ccc;
  outline: none;
  width: 100%;
  margin: 16px 0;
}

input:focus {
  border-bottom: 2px solid var(--denimColor);

}

textarea {
  font-family: 'Lexend';
  font-size: 20px;
  border: 0;
  padding: 8px;
  border-bottom: 2px solid #ccc;
  outline: none;
  width: 100%;
  height: 15vh;
  margin: 16px 0;
}

textarea:focus {
  border-bottom: 2px solid var(--denimColor);

}